<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Repository Class Declarations -->
    <add key="Cccev.Bsch.ScheduleItemRepository"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakeScheduleItemRepository" />
    <add key="Cccev.Bsch.ScheduleRepository"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakeScheduleRepository" />
    <add key="Cccev.Bsch.BlackoutDateRepository"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakeBlackoutDateRepository" />
    <add key="Cccev.Bsch.BaptizerRepository"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakeBaptizerRepository" />
    
    <!-- Framework Settings -->
    <add key="Cccev.FrameworkUtils.CurrentPerson"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakePersonFactory" />
    <add key="Cccev.FrameworkUtils.DataContext"
         value="Arena.Custom.Cccev.BaptismScheduler.Tests, Arena.Custom.Cccev.BaptismScheduler.Tests.Fakes.FakeDataContext"/>
    <add key="Cccev.FrameworkUtils.CacheType" value="Dictionary" />
  </appSettings>
</configuration>